.open-profile-btn {
    position: absolute;
    height: 100px;
    right: 0;
    z-index: 10;   /* 👈 ensures it's on top */
}

.open-profile-btn:hover {
    cursor: pointer;
}

.main-img{
    background-image: url('/images/home/main-img-2.svg');
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    width: 40vw !important;
    position: relative;
}
.main-title-col {
    position: relative;
    width: 40vw !important;
}

.main-text-container{
    height: 100vh;
}