.robot-3d {
    position: absolute;
    height: 120vh !important;
    bottom: -50vh !important;
    right: 8vh !important;
}
/* Mobile view */
@media (max-width: 768px) {
    .robot-3d {
        height: 10vh;   /* smaller height */
        bottom: -50%;    /* adjust position */
        left: -20%;         /* example - center in mobile */
        right: 0;
        margin: auto;
    }
}

.open-profile-btn {
    position: absolute;
    height: 100px;
    right: 0;
    z-index: 10;   /* 👈 ensures it's on top */
}

.open-profile-btn:hover {
    cursor: pointer;
}

.main-img{
    background-image: url('/images/home/main-img-2.svg');
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    width: 40vw !important;
    position: relative;
}
.main-title-col {
    position: relative;
    width: 40vw !important;
}

.main-text-container{
    height: 100vh;
}