:root {
    --primary-color: rgb(243, 198, 35); /* default yellow */
    --primary-color-dark: #c69f19;
    --primary-color-light: #e6c652;
    --secondary-color: #111111;
    --dark-bg-color: rgba(33, 33, 33, 0.71);
}
body, html {
    overflow-x: hidden !important;
}
body {
    background-color: #111111 !important;
    color: white; /* optional, makes text visible */
}
/* Hide scrollbar : For Chrome, Edge, Safari */
::-webkit-scrollbar {
    display: none;
}
/* For Firefox */
html {
    scrollbar-width: none; /* hides scrollbar */
}
a, Link{
    text-decoration: none !important;
    cursor: pointer;
}
button {
    margin: 15px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    background-color: transparent;
    color: #f3c623;
    border: 1px solid #f3c623;
    font-weight: 700;
    padding: 8px 20px !important;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease; /* smooth animation */
}  button:hover {
    color: #111111;
    background-color: #f3c623 !important;
}

/* Mobile view */
@media (max-width: 768px) {
    p{
        font-size: 12px !important;
    }
    h2{
        font-size: 22px !important;
    }

    .sub-title{
        font-size: 0.7rem !important;
    }
    .get-quote-btn {
        font-size: 10px !important;
        bottom: 10px !important;
        right: 10px !important;
        padding: 5px 10px !important;
    }
}


/*custom*/
.cursor {
    display: inline-block;
    vertical-align: bottom; /* aligns with text bottom */
    animation: blink 1s step-end infinite;
    margin-left: 2px; /* small spacing from text */
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.fixed-text {
    min-height: 65px;   /* keep consistent height */
    line-height: 1.3;   /* control spacing between lines */
}
.cursor-pointer{
    cursor: pointer;
}

/*text*/
.yellow-text{
    color: #f3c623;
}
.secondary-text{
    color: var(--secondary-color);
}
.sub-title{
    display: block;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0 30px;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.2);
    font-weight: 600;
}

/*background -bg*/
.bg-yellow{
    background-color: var(--primary-color-dark);
}
.bg-yellow-light{
    background-color: darkkhaki;
}
.bg-yellow-dark{
    background-color: var(--primary-color-dark) !important;
    color: white !important;
}
.bg-dark-50 {
    background-color: var(--dark-bg-color) !important;
}

/*font*/
.fs-7{
    font-size: 14px !important;
}

/*logo-fixed*/
.logo-fixed {
    position: fixed;
    top: 21vh;     /* distance from top */
    left: 20px;    /* distance from left */
    z-index: 9; /* keeps it above other elements */
}

.logo-fixed img {
    width: 5vw;  /* adjust size */
    height: auto;  /* keep aspect ratio */
}
.get-quote-btn {
    position: fixed;
    background-color: var(--primary-color-dark);
    color: var(--secondary-color);
    bottom: 20px;
    right: 20px;
    font-weight: 600;
    border-radius: 50px;
    padding: 10px 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 99; /* stay above everything */
    transition: all 0.3s ease;
}

.get-quote-btn:hover {
    transform: translateY(-5px);
    background-color: #cdcd01;
    box-shadow: 0 8px 20px rgba(238, 255, 0, 0.2);
}
/*.robot-3d {*/
/*    position: fixed;*/
/*    height: 100vh !important;*/
/*    bottom: 1vh !important;*/
/*    right: 2vh !important;*/
/*}*/

.robot-3d{
    position: fixed;
    height: 390px;
    color: var(--secondary-color);
    bottom: -111px;
    right: -43px;
    z-index: 99;
}

/*logo-fixed*/